@using ComponentUILibrary.Models

@model TabSEOCModel

<div class="form-group">
    <label for="">Og:Image</label>

    @{


        List<string> listFile = new List<string>();
        if (!String.IsNullOrEmpty(Model.Image))
        {
            listFile.Add(Model.Image);

        }
        FileUploadControlModel fileUploadModel = new FileUploadControlModel();
        fileUploadModel.Id = "Seo_Images";
        fileUploadModel.Class = "";
        fileUploadModel.IsMultiple = false;//true thì tạo control up nhiều ảnh
        fileUploadModel.SelectedFiles = fileUploadModel.GenerateFileJson(listFile);

    }
    @await Component.InvokeAsync(nameof(ComponentUILibrary.ViewComponents.FileUploadFilePondComponent), fileUploadModel)
</div>
<div class="form-group">
    <label for="title">Đường dẫn tĩnh</label>
    <input required type="text" class="form-control" id="title" value="@Model.Slug" name="title" aria-describedby="title" placeholder="nhập đường dẫn...">
</div>
<div class="form-group">
    <label for="title">Từ khóa</label>
    <input required type="text" class="form-control" id="title" value="@Model.TagKeys" name="title" aria-describedby="title" placeholder="nhập tiêu đề...">
</div>
<div class="form-group">
    <label for="title">Mô tả</label>
    <textarea required type="text" class="form-control" id="seo_mota" value="@Model.MetaDescription" name="seo_mota" aria-describedby="seo_mota" placeholder="nhập mô tả..."></textarea>
</div>
<div class="form-group">
    <label for="title">Meta</label>
    <textarea required type="text" class="form-control" id="meta" value="@Model.Meta" name="meta" aria-describedby="meta" placeholder="nhập meta..."></textarea>
</div>