*~
*.vs
/ResponsiveFileManager/bin
/ResponsiveFileManager/obj
/ResponsiveFileManager.AspNetCore/bin
/ResponsiveFileManager.AspNetCore/obj
/WebApplication/bin
/WebApplication/obj
/WebApplication/Properties/PublishProfiles
/DTO/bin
/DTO/obj
/CmsUtilities/bin
/CmsUtilities/obj
/WebApplication/wwwroot/img