@using Admin.ProductManagement.Constants;
@using Steam.Core.Base.Models;
@model Admin.ProductManagement.Controllers.ProductController.EditModel

@try
{
    SelectModel single = new SelectModel();
    single.Id = "CateID";
    single.Name = "CateID";
    single.Size = "small";
    single.Class = "nice-select postsCategory-nice-select";
    single.SelectedValue = Model.Detail.CateID.ToString();
    SelectModel multi = new SelectModel();

    multi.Id = "SubCate";
    multi.Name = "SubCate";
    multi.Size = "";
    multi.Class = "";
    multi.SelectedValue = Model.Detail.SubCate;

    @Html.Partial(ProductConstants.ConfigCategory.CategorySingle, single);
    @Html.Partial(ProductConstants.ConfigCategory.CategoryMulti, multi);

}
catch (Exception ex)
{
    <p>Dịch vụ chưa được tích hợp</p>

}

