@model Admin.ProductManagement.Controllers.ProductController.EditModel

@using Admin.ProductManagement.Constants;
@using ComponentUILibrary.Models

<div class="card-content p-lg-2 pr-2 cms-div-table ">
    <!-- table hover -->
    <div class="table-responsive">
        @{
            ComponentUILibrary.Models.TableData table = new ComponentUILibrary.Models.TableData();
            table.ID = "tableProductChildren";
            table.Class = "table table-hover bg-white mb-0 ";
            table.Body = await Html.PartialAsync(ProductConstants.ConfigPartial.Index_TableProductChildren, Model.ProductChildren);

            List<TableHead> tableHead = new List<TableHead>();
            tableHead.Add(new TableHead { Name = "SKU", Filter = "ASC", OrderBy = "Order" });
            tableHead.Add(new TableHead { Name = "Tiêu đề", Filter = "ASC", OrderBy = "Title" });
            tableHead.Add(new TableHead { Name = "Size", Filter = "ASC", OrderBy = "Title" });
            tableHead.Add(new TableHead { Name = "Màu sắc", Filter = "ASC", OrderBy = "Title" });
            tableHead.Add(new TableHead { Name = "Giá bán" });
            tableHead.Add(new TableHead { Name = "Action", Width = 1 });
            table.Header = tableHead;
        }
        @await Component.InvokeAsync(nameof(ComponentUILibrary.ViewComponents.TableComponent), new { table = table })

    </div>

</div>