@using ComponentUILibrary.Models

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["PageTitle"] = "Orders management";
}

<section class="section">
    <div class="row" id="table-hover-row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <form id="formOrder" onsubmit="checkout(); return false;" class="row col-xl-12 col-sm-12 cms-filter-row">
                        <!--filter action-->
                        @Html.AntiForgeryToken()
                        <input class="form-control" type="text" placeholder="Nhập tên người mua" name="BuyerName" />
                        <input class="form-control" type="email" placeholder="Nhập email" name="BuyerEmail" />
                        <input class="form-control" type="text" required placeholder="Nhập số đt" name="BuyerPhone" />
                        <input class="form-control" type="text" required placeholder="Nhập địa chỉ" name="BuyerAddress" />
                        <textarea class="form-control" placeholder="Nhập ghi chú" name="Description"></textarea>
                        <button class="btn btn-primary" type="submit">Thanh toán payos</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    @Html.AntiForgeryToken()

</section>

@section Scripts {
    <script>
        function checkout() {
              debugger
              var form = $('#formOrder');
              $.ajax({
                  type: "POST",
                  url: '/steam/OrderPublicApi/checkout',
                  data: form.serialize(),
                  success: function (response) {
                      console.log(response)
                      window.location.href = response.data.data.paymentLink;
                  },
                  error: function (data) {
                      console.error(data);
                  }
              });
          }
    </script>
}