@using ComponentUILibrary.Models

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["PageTitle"] = "Orders management";
}

<section class="section">
    <div class="row" id="table-hover-row">
        <div class="col-12">
            <div class="card">
              <h1>Thanh toán thành công!!!</h1>
            </div>
        </div>
    </div>

    @Html.AntiForgeryToken()

</section>

@section Scripts {
    <script></script>
}