@using Admin.ProductManagement.Constants;
@using ComponentUILibrary.Models
@using Admin.ProductManagement.Enums;
@using Admin.ProductManagement.DataTransferObjects.Product;
@model List<ProductConfigDto>;
@{
    var listCate = new List<SelectControlData>()
    {
        new SelectControlData() {Name = "SKU", Value = EnumSyncProperties.Sku.ToString(), Order = 0},
        new SelectControlData() {Name = "Tiêu đề", Value = EnumSyncProperties.Title.ToString(), Order = 1},
        new SelectControlData() {Name = "Mô tả", Value = EnumSyncProperties.Description.ToString(), Order = 2},
        new SelectControlData() {Name = "Giá bán", Value = EnumSyncProperties.SellingPrice.ToString(), Order = 3},
        new SelectControlData() {Name = "Màu sắc", Value =EnumSyncProperties.Color.ToString(), Order = 4},
        new SelectControlData() {Name = "Size", Value = EnumSyncProperties.Size.ToString(), Order = 5},
        new SelectControlData() {Name = "Thêm mới thuộc tính", Value = EnumSyncProperties.AddNewDetail.ToString(), Order = 6},
    };
}

<div class="modal fade show" id="modalSyncMisa" tabindex="-1" aria-modal="true" role="dialog">
    <div class="modal-dialog modal-lg modal-simple modal-enable-otp modal-dialog-centered">
        <div class="modal-content p-3 p-md-5">
            <div class="modal-body">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <div class="text-center mb-4">
                    <h3 class="mb-3">Thông tin cần đồng bộ</h3>
                    <p class="text-muted">Chức năng đồng bộ sản phẩm MISA</p>
                </div>
                <form id="frmSynMisaProduct">
                    <div class="col-12">
                        <div class="form-group">
                            <label for="SyncDate">Ngày đồng bộ</label>
                            @{
                                DatePickerModel datePickerModel = new DatePickerModel();
                                datePickerModel.Id = "SyncDate";
                                datePickerModel.ClassContainner = "col-lg-4 mb-1";
                                datePickerModel.Placeholder = "Chọn ngày";
                                datePickerModel.FirstLoadLIb = true;
                                datePickerModel.Value = DateTime.Now.ToString("dd/M/yyyy");
                            }
                            @await Component.InvokeAsync(nameof(ComponentUILibrary.ViewComponents.DatePickerComponent), datePickerModel)
                            <small id="emailHelp" class="form-text text-muted">Chọn ngày để đồng bộ để tối ưu hiệu suất của hệ thống</small>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="form-group">
                            <label for="exampleInputPassword1">Đồng bộ sản phẩm mới</label>
                            <input name="chkSyncNewProduct" type="checkbox" id="chkSyncNewProduct" />
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="form-group">
                            <label for="exampleInputPassword1">Đồng bộ sản phẩm đang có trong hệ thống</label>
                            <input name="chkSyncOldProduct" type="checkbox" id="chkSyncOldProduct" />
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="form-group">
                            <label for="exampleInputPassword1">Chọn thuộc tính cần đồng bộ cho sản phẩm đang có</label>
                            @{
                                DropdownFilterMultiSelectModel multiDropdownData = new DropdownFilterMultiSelectModel();
                                multiDropdownData.Data = listCate;
                                multiDropdownData.Id = "SelectMultiSyncMisa";// "selectmulti";
                                multiDropdownData.Size = "medium";
                                multiDropdownData.Class = "form-control";
                                multiDropdownData.SelectedValue = "";
                                multiDropdownData.FirstLoadLib = true;
                            }
                            @await Component.InvokeAsync(nameof(ComponentUILibrary.ViewComponents.DropdownFilterMultiSelectComponent), new { model = multiDropdownData })
                        </div>
                    </div>
                    <div class="col-12 text-center p-5">
                        <button type="button" class="btn btn-secondary" onclick="CloseSyncMisaModal()" data-dismiss="modal">Close</button>
                        <button type="button" id="btnExcute" onclick="_action.ExcuteSyncMisa('frmSynMisaProduct')" class="btn btn-primary">Excute</button>
                        <button id="btnExcuting" hidden class="btn btn-primary" type="button" disabled="">
                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                            Excuting...
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
