- sitename = "WebsiteDEMO"
- website = 'www.mywebsite.com'

block vars
	- title = ''
	- social = false
	- header = true
doctype transitional
html
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
		title=title
		style
			include ../email.css
	body
		.e-wrapper
			block logo-outside
			.e-main.rounded.bg-white
				block email-header
					if header 
						include email-header
				block email-main
				
			block email-footer
				include email-footer