block email-footer
	.e-footer
		.copyright © 2021 !{sitename}. Power by BizMaC.
		if social 
			table.social
				tbody 
					tr 
						td
							a(href="#" class="facebook"): img.social-img(src="imgs/facebook.png" alt)
						td
							a(href="#" class="twitter"): img.social-img(src="imgs/twitter.png" alt)
						td
							a(href="#" class="youtube"): img.social-img(src="imgs/youtube.png" alt)
						td
							a(href="#" class="telegram"): img.social-img(src="imgs/telegram.png" alt)
						td
							a(href="#" class="instagram"): img.social-img(src="imgs/instagram.png" alt)
						td
							a(href="#" class="tiktok"): img.social-img(src="imgs/tiktok.png" alt)