@model Admin.MemberManagement.Controllers.FeedbackEditModel
@using Admin.MemberManagement.Constants;
@using Steam.Core.Base.Models;
@{
    SEOModel tabSeo = new SEOModel();
    tabSeo.SlugGenerateFrom = "Title";
    tabSeo.GetCatePidFrom = "CatePid";
    tabSeo.GetPostPidFrom = "Pid";
    tabSeo.GetPostTitlteFrom = "Title";
    tabSeo.MetaDescriptionGenerateFrom = "Description";
    tabSeo.NavListButton = "nav_list_button_plugin";
    tabSeo.PostPid = Model.Detail.Pid;
    tabSeo.ModuleCode = "Feedback";

}
@*@await Component.InvokeAsync(nameof(ComponentUILibrary.ViewComponents.TabSEOComponent), tabSeo)*@

@try
{
    @Html.Partial(FeedbackConstants.StaticPath.ExtenalViews.SEO.TabSEO, tabSeo);

    @*@await Html.PartialAsync("/Views/SEOntegrated/TabSEO.cshtml", tabSeo);*@

}
catch (Exception ex)
{
    <p>Dịch vụ chưa được tích hợp</p>

}
