<div class="dropdown-menu-header border-bottom">
    <div class="dropdown-header d-flex align-items-center py-3">
        <h5 class="text-body mb-0 me-auto">Shortcuts</h5>
        <a href="javascript:OpenModalShortcut()" class="dropdown-shortcuts-add text-body" data-bs-toggle="tooltip" data-bs-placement="top" title="Add shortcuts"><i class="bx bx-sm bx-plus-circle"></i></a>
    </div>
</div>