@using ComponentUILibrary.Models
@model ModalInfoImage
@{
    //var strJsonFile = JsonSerializer.Serialize<DropzoneData>(Model.Files);

    //var a = Model.PageIndex;
}

<div class="modal fade text-left" id="@(Model.Id)_InfoImageModal" tabindex="-1"
     role="dialog" aria-labelledby="myModalLabel33" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable"
         role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel33">Thông tin ảnh </h4>
                <button type="button" class="close" data-bs-dismiss="modal"
                        aria-label="Close">
                    <i data-feather="x"></i>
                </button>
            </div>
            <div id="InfoImageForm">
                <div class="modal-body">
                    <label>Caption</label>
                    <div class="form-group">
                        <input id="InfoImageForm_Caption" type="text" placeholder="Caption"
                               class="form-control">
                    </div>
                    <label>Mô tả </label>
                    <div class="form-group">
                        <textarea id="InfoImageForm_Description" placeholder="Nhập mô tả.."
                                  class="form-control"></textarea>
                    </div>
                    <div class="form-group">
                        <input id="InfoImageForm_Order" type="text" placeholder="Thứ tự"
                               class="form-control">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light-secondary"
                            data-bs-dismiss="modal">
                        <i class="bx bx-x d-block d-sm-none"></i>
                        <span class="d-none d-sm-block">Đóng</span>
                    </button>
                    <button type="button" id="btnSaveImageInfo" class="btn btn-primary ml-1"
                            data-bs-dismiss="modal">
                        <i class="bx bx-check d-block d-sm-none"></i>
                        <span class="d-none d-sm-block">Lưu</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var listImagesInfo_@(Model.Id) = []

    var infoImageFormName_@(Model.Id) = '#@(Model.Id)_InfoImageForm'


    function SaveImagesInfo(uuid) {
        var caption = $(`${infoImageFormName_@(Model.Id)} #InfoImageForm_Caption`).val();
        var description = $(`${infoImageFormName_@(Model.Id)} #InfoImageForm_Description`).val();
        var order = $(`${infoImageFormName_@(Model.Id)} #Order`).val();

        var imageInfo = listImagesInfo_@(Model.Id).find(x => x.id == uuid);
        if (imageInfo != null) {
            imageInfo.caption = caption;
            imageInfo.description = description;
            imageInfo.order = order;
            if (imageInfo.status == "exist") {
                imageInfo.status ="edit"
            }
        }
        $("#ListFiles").val(JSON.stringify(listImagesInfo))
    }
    function SetImageInfo(uuid) {
        $(`${infoImageFormName_@(Model.Id)} #InfoImageForm_Caption`).val("")
        $(`${infoImageFormName_@(Model.Id)} #InfoImageForm_Description`).val("")
        $(`${infoImageFormName_@(Model.Id)} #InfoImageForm_Order`).val("")
        var imageInfo = listImagesInfo_@(Model.Id).find(x => x.id === uuid);
        if (imageInfo != null) {
            $(`${infoImageFormName_@(Model.Id)} #InfoImageForm_Caption`).val(imageInfo.caption)
            $(`${infoImageFormName_@(Model.Id)} #InfoImageForm_Description`).val(imageInfo.description)
            $(`${infoImageFormName_@(Model.Id)} #InfoImageForm_Order`).val(imageInfo.order)
        }

    }
    $(function () {


    });
</script>