@model Admin.LayoutPage.Controllers.FooterPageEditModel

@using Admin.LayoutPage.Constants;
@using ComponentUILibrary.Models

<div class="card-content p-lg-2 pr-2">
    <form id="uploadForm" class="mt-2">

        <div class="mt-2">
            <input hidden id="FooterPagePid" class="pid" name="Pid" value="@Model.Detail.Pid">
            <div class="form-group">
                <label for="title">Tiêu đề</label>
                <input required type="text" class="form-control" id="title" value="@Model.Detail.Name" name="Name" aria-describedby="Name" placeholder="nhập tên footer...">
            </div>



            @*<div class="form-group">
            <label for="Content">Header block</label>
            @{

                EditorModel editorModel = new EditorModel();
                editorModel.Id = "HeaderBlock";
                editorModel.Cols = "30";
                editorModel.Rows = "10";
                editorModel.Content = Model.Detail.HeaderBlock;
            }
            @await Component.InvokeAsync(nameof(ComponentUILibrary.ViewComponents.EditorTinymceComponent), editorModel)
        </div>*@
        <div class="form-group">
            <label for="Content">Footer block</label>

            @{

                CodeMirrorModel codeMirrorFooterBlock = new CodeMirrorModel();
                codeMirrorFooterBlock.Id = "FooterBlock";
                codeMirrorFooterBlock.FirstLoadLib = true;
                codeMirrorFooterBlock.Content = Model.Detail.FooterBlock;
            }
            @await Component.InvokeAsync(nameof(ComponentUILibrary.ViewComponents.CodeMirrorComponent), codeMirrorFooterBlock)
        </div>
            <div class="form-group">
                <label for="Content">Footer plugin block</label>

                @{

                    CodeMirrorModel codeMirrorFooterPluginBlock = new CodeMirrorModel();
                    codeMirrorFooterPluginBlock.Id = "FooterPluginBlock";
                    codeMirrorFooterPluginBlock.Content = Model.Detail.FooterPluginBlock;
                }
                @await Component.InvokeAsync(nameof(ComponentUILibrary.ViewComponents.CodeMirrorComponent), codeMirrorFooterPluginBlock)
            </div>

        </div>
    </form>
    <div class="modal-footer">
        @*<a type="button" href="@FooterPageConstants.Config.Route.PageIndex" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</a>
            <button type="button" onclick="_action.Save('uploadForm')" class="btn btn-primary">Lưu</button>*@
    </div>
</div>