@model Admin.Collection.CollectionController.EditModel
@using static Admin.Collection.Constants.CollectionConstants
@{
}
@using ComponentUILibrary.Models

<div class="modal left fade" id="ModalChooseProduct" tabindex="-1" role="dialog" aria-labelledby="myModal2Label2">

    <div class="modal-dialog modal-dialog-centered modal-lg modal-full" role="document">
        <div class="modal-content">

            <div class="modal-header ">

                <h4 class="modal-title justify-content-center " id="myModalLabel2">Danh sách sản phẩm</h4>
            </div>

            <div class="modal-body">
                <div class="tab-content" id="myTabContent">
                    <form id="SearchModalChooseProductForm" class="row cms-filter-row">
                        <div class="d-flex flex-wrap">
                            <!--filter action-->
                            @Html.AntiForgeryToken()

                            <div style="padding:0" class="form-group cms-filter mb-1 ">
                                @{

                                    TreeSelectModel treeSelectModel = new TreeSelectModel();
                                    treeSelectModel.ID = "CateIds";
                                    treeSelectModel.Name = "CateIds";
                                    treeSelectModel.Class = "";
                                    treeSelectModel.isIndependentNodes = false;
                                    treeSelectModel.SelectedValue = "";
                                    treeSelectModel.FirstLoadLib = true;
                                    //treeSelectModel.isGrouped = false;
                                    treeSelectModel.MapToObj(Model.ListCatesForCollection, "Value", "Name", "ParrentID", "", "", "0");
                                }
                                @await Component.InvokeAsync(nameof(ComponentUILibrary.ViewComponents.TreeSelectComponent), new { model = treeSelectModel })
                            </div>

                            <div style="padding:0" class="input-group  mb-1 cms-filter form-group">
                                <input type="text" name="KeySearch" id="KeySearch" class="cms-font-size-075  form-control form-control-sm" placeholder="từ khóa tìm kiếm" aria-label="từ khóa tìm kiếm" />
                                <button class="btn btn-sm btn-outline-secondary" type="button" onclick="_action.SearchProductForCollection(1)" id="buttonSearch_ChooseProduct"><i class="bx bx-search"></i></button>
                            </div>

                            <!--filter action-->
                        </div>


                    </form>

                    <div class="table-responsive">

                        @{
                            ComponentUILibrary.Models.TableData table = new ComponentUILibrary.Models.TableData();
                            table.ID = "table_ChooseProduct";
                            table.Class = "table table-hover bg-white mb-0 ";
                            table.Body = await Html.PartialAsync(StaticPath.PartialView.Edit_TableChooseProduct, Model.ListProducts);

                            List<TableHead> tableHead = new List<TableHead>();
                            tableHead.Add(new TableHead { Name = "#", Width = 50, Filter = "ASC", OrderBy = "Order" });
                            tableHead.Add(new TableHead { Name = "Hình ảnh", Width = 1 });
                            tableHead.Add(new TableHead { Name = "Tên sản phẩm", Filter = "ASC", OrderBy = "Title" });
                            tableHead.Add(new TableHead { Name = "SKU" });
                            tableHead.Add(new TableHead { Name = "Price" });
                            tableHead.Add(new TableHead { Name = "Action", Width = 1 });
                            table.Header = tableHead;
                            table.CheckAllCol = false;
                        }
                        @await Component.InvokeAsync(nameof(ComponentUILibrary.ViewComponents.TableComponent), new { table = table })


                        <div class="row mx-0 mt-1 align-items-center">
                            <div class="col-12 col-sm-6">
                            </div>
                            <div class=" col-12 col-sm-6  align-items-center" id="divPaging_productchoose">
                                <nav style="float:right" class="pagination-wrap d-inline-block" id="productchoose_navigation_paging" aria-label="navigation">
                                    @{
                                        PaginationModel pageModel = new PaginationModel();
                                        pageModel.PageIndex = Model.ListProducts.PageNumber;
                                        pageModel.PageSize = Model.ListProducts.PageSize;
                                        pageModel.PageCount = Model.ListProducts.PageCount;
                                        pageModel.Id = "";
                                        pageModel.Class = "";
                                    }
                                    @await Component.InvokeAsync(nameof(ComponentUILibrary.ViewComponents.PaginationComponent), pageModel)



                                </nav>
                            </div>
                        </div>

                    </div>

                </div>
            </div>

        </div><!-- modal-content -->
    </div><!-- modal-dialog -->
</div>