@model Admin.Collection.CollectionController.EditModel

@using Admin.Collection.Constants;
@using ComponentUILibrary.Models
<input hidden id="Pid" class="pid" name="Pid" value="@Model.Detail.Pid">
<div class="form-group">
</div>
<div class="form-group">
    <label for="title">Tiêu đề</label>
    <input  type="text" class="form-control" id="Title" value="@Model.Detail.Title" name="Title" aria-describedby="title" placeholder="nhập tiêu đề...">



</div>

<div class="form-group">
    <label for="title">Ngày công bố</label>
    @{
        DatePickerModel datePickerModel = new DatePickerModel();
        datePickerModel.Id = "PublishDate";
        datePickerModel.ClassContainner = "col-lg-4 mb-1";
        datePickerModel.Placeholder = "Chọn ngày";
        datePickerModel.FirstLoadLIb = true;
        datePickerModel.Value = DateTime.Now.ToString("dd/M/yyyy");
    }
    @await Component.InvokeAsync(nameof(ComponentUILibrary.ViewComponents.DatePickerComponent), datePickerModel)
</div>


<div class="form-group">
    <label for="Content">Mô tả ngắn</label>
    @{

        EditorModel editorModel = new EditorModel();
        editorModel.Id = "Description";
        editorModel.Cols = "30";
        editorModel.Rows = "10";
        editorModel.FirstLoadLib = true;
        editorModel.Content = Model.Detail.Description;
    }
    @await Component.InvokeAsync(nameof(ComponentUILibrary.ViewComponents.EditorTinymceComponent), editorModel)

</div>

<div class="form-group">
    <label for="Content">Nội dung</label>
    @{

        EditorModel editorContent = new EditorModel();
        editorContent.Id = "Content";
        editorContent.Cols = "30";
        editorContent.Rows = "40";

        editorContent.Content = Model.Detail.Content;
    }
    @await Component.InvokeAsync(nameof(ComponentUILibrary.ViewComponents.EditorTinymceComponent), editorContent)

</div>


