@model Admin.Collection.CollectionController.EditModel
@using Admin.Collection.Constants;
@using ComponentUILibrary.Models
@using System.Text.Json;

@using Steam.Core.Base.Models;

<button type="button" class="btn btn-primary mb-2" data-bs-toggle="modal" data-bs-target="#myModal">
    Chọn sản phẩm
</button>

<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <input type="text" id="ProductIDs" name="ProductIDs" value="" hidden>
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">Chọn sản phẩm</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body bg-light">
                <div class="form-group">
                    <input class="form-control" type="text" id="searchInput" placeholder="Search...">
                </div>
                <div id="productListContainer">
                    <div style="max-height: 600px; overflow-y: auto;" class="row" id="scrollablecontent">
                        <div class="col-md-4 mb-4">
                            <div class="card product-item">
                                <div style="position: relative;">
                                    <img src="https://product.hstatic.net/200000182297/product/14_829f7477ff294aa79f015fd22e985e61_master.jpg" class="card-img-top rounded" style="max-height: 160px; object-fit: cover;">
                                    <div style="position: absolute; top: 0; right: 0;">
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" onclick="handleCheckbox(this)" id="chk1" value="1" name="chk1">
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title mb-2">Title</h5>
                                    <div class="card-product-code p-1 rounded">SKU</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mb-4">
                            <div class="card product-item">
                                <div style="position: relative;">
                                    <img src="https://product.hstatic.net/200000182297/product/14_829f7477ff294aa79f015fd22e985e61_master.jpg" class="card-img-top rounded" style="max-height: 160px; object-fit: cover;">
                                    <div style="position: absolute; top: 0; right: 0;">
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" onclick="handleCheckbox(this)" id="chk2" value="2" name="chk2">
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title mb-2">Title</h5>
                                    <div class="card-product-code p-1 rounded">SKU</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mb-4">
                            <div class="card product-item">
                                <div style="position: relative;">
                                    <img src="https://product.hstatic.net/200000182297/product/14_829f7477ff294aa79f015fd22e985e61_master.jpg" class="card-img-top rounded" style="max-height: 160px; object-fit: cover;">
                                    <div style="position: absolute; top: 0; right: 0;">
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" onclick="handleCheckbox(this)" id="chk3" value="3" name="chk3">
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title mb-2">Title</h5>
                                    <div class="card-product-code p-1 rounded">SKU</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mb-4">
                            <div class="card product-item">
                                <div style="position: relative;">
                                    <img src="https://product.hstatic.net/200000182297/product/14_829f7477ff294aa79f015fd22e985e61_master.jpg" class="card-img-top rounded" style="max-height: 160px; object-fit: cover;">
                                    <div style="position: absolute; top: 0; right: 0;">
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" onclick="handleCheckbox(this)" id="chk4" value="4" name="chk4">
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title mb-2">Title</h5>
                                    <div class="card-product-code p-1 rounded">SKU</div>
                                </div>
                            </div>
                        </div>
                        <!-- Add more product items here -->
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>

</div>

<div id="chosenProductsList" class="modal-body bg-light" style="overflow-y: auto;">
    <h5>Sản phẩm đã chọn:</h5>
    <ul id="chosenProducts" class="d-flex">
        <!-- Chosen products will be dynamically added here -->
    </ul>
</div>

<script>
    var combinedIDs = '';
    var checkedIDs = []; // Declare the checkedIDs array at the global scope
    var chosenProductsDiv = $("#chosenProducts");
    var allProductsData = getAllProductData();
    console.log(allProductsData);

    $(document).ready(function () {
        "use strict";






        $("#searchInput").on("input", function () { handleSearchInput(); });
        // Function to handle checkbox click

        $('input[type="checkbox"]').on("change", function () {
            handleCheckbox(this);
        });





        // Load initial chosen products
        loadInitialChosenProducts();
        /* updateProductListContainer();*/


    });

    function loadInitialChosenProducts() {

    }

    function reloadChosenProducts() {

        for (var i = 0; i < checkedIDs.length; i++) {
            var ID = checkedIDs[i]
            var checkbox = $("#chk" + ID);
            checkbox.prop("checked", true);
        }
    }


    function handleCheckbox(checkbox) {

        var checkboxID = checkbox.id;
        var numericID = checkboxID.substring(3); // Extract numeric part, excluding "chk"

        if (checkbox.checked) {
            // Checkbox is checked, add its numeric ID to the list

            if (!checkedIDs.includes(numericID)) {
                checkedIDs.push(numericID);
            }
        } else {
            // Checkbox is unchecked, remove its numeric ID from the list
            var index = checkedIDs.indexOf(numericID);
            if (index !== -1) {
                checkedIDs.splice(index, 1);
            }
        }

        // Combine the numeric IDs and display the result
        combinedIDs = checkedIDs.join(',');
        $('#ProductIDs').val(combinedIDs);




        chosenProductsDiv.empty();

        if (checkedIDs.length > 0) {
            for (var i = 0; i < checkedIDs.length; i++) {
                var productID = checkedIDs[i];
                var productData = allProductsData.find(product => product.id === productID);
                if (productData) {
                    var productName = productData.title;
                    var productPic = productData.image;
                    
                    var listItem = $('<li class="list-group-item col-2 d-flex flex-column align-items-center mx-2 border rounded"></li>');
                    var productImg = $('<img src="' + productPic + '" class="avatar-img rounded mx-2" style="width: 100px;">');
                    var productTitle = $('<p class="mb-0">' + productName + '</p>');
                    var deleteButton = $('<button type="button" class="btn-close" aria-label="Close" id="' + productID + '" onclick="deleteChosenProduct(this)"><span aria-hidden="true"></span></button>');

                    listItem.append(productImg).append(productTitle).append(deleteButton);
                    chosenProductsDiv.append(listItem);
                }
            }

            $('#chosenProductsList').show();
        }
    }
    // Function to delete the chosen product
    function deleteChosenProduct(button) {
        $(button).parent().remove();
        var checkbox = $("#chk" + button.id);
        checkbox.prop("checked", false);

        var index = checkedIDs.indexOf(button.id);
        if (index !== -1) {
            checkedIDs.splice(index, 1);
        }

        combinedIDs = checkedIDs.join(',');
        $('#ProductIDs').val(combinedIDs);

    }

    function handleSearchInput() {
        var searchInput = $("#searchInput").val().toUpperCase();
        var ProductItems = $(".product-item"); // Get the currently visible product items

        ProductItems.each(function () {
            var productName = $(this).find(".card-title").text().toUpperCase();
            var productCode = $(this).find(".card-product-code").text().toUpperCase();



            // Check if the search input matches the product name or code
            if (productName.indexOf(searchInput) > -1 || productCode.indexOf(searchInput) > -1) {
                $(this).parent().show(); // Show the product-item's parent (productBox)
            } else {
                $(this).parent().hide(); // Hide the product-item's parent (productBox)
            }


        });
    }

    function getAllProductData() {
        var productsData = [];

        $('.product-item').each(function () {
            var productId = $(this).find('.form-check-input').val();
            var productImage = $(this).find('img').attr('src');
            var productTitle = $(this).find('.card-title').text();

            var productData = {
                id: productId,
                image: productImage,
                title: productTitle
            };

            productsData.push(productData);
        });
        console.log(productsData.length);
        return productsData;
    }



</script>