@model Admin.Collection.CollectionController.EditModel
@using Admin.Collection.Constants;
@using ComponentUILibrary.Models
@using System.Text.Json;
@using static Admin.Collection.Constants.CollectionConstants;

@using Steam.Core.Base.Models;
<!-- table hover -->
<input type="text" id="ProductIDs" name="ProductIDs" value=",@Model.Detail.ProductIDs," hidden>

<div class="table-responsive">
    <div>

        <a type="button" onclick="OpenChooseProductModal()" class="btn btn-primary text-white">Chọn sản phẩm</a>
    </div>
    @{
        ComponentUILibrary.Models.TableData table = new ComponentUILibrary.Models.TableData();
        table.ID = "table_Collections";
        table.Class = "table table-hover bg-white mb-0 ";
        table.Body = await Html.PartialAsync(StaticPath.PartialView.Edit_TableColleciton, Model.ListCollectionProducts);

        List<TableHead> tableHead = new List<TableHead>();
        //tableHead.Add(new TableHead { Name = "#", Width = 50, Filter = "ASC", OrderBy = "Order" });
        tableHead.Add(new TableHead { Name = "Hình ảnh", Width = 1 });
        tableHead.Add(new TableHead { Name = "Tên sản phẩm", Filter = "ASC", OrderBy = "Title" });
        tableHead.Add(new TableHead { Name = "SKU" });
        tableHead.Add(new TableHead { Name = "Price" });
        tableHead.Add(new TableHead { Name = "Action", Width = 1 });
        tableHead.Add(new TableHead { Name = "", Width = 1 });
        table.Header = tableHead;
        table.CheckAllCol = false;
    }
    @await Component.InvokeAsync(nameof(ComponentUILibrary.ViewComponents.TableComponent), new { table = table })


    <div class="row mx-0 mt-1 align-items-center">
        <div class="col-12 col-sm-6">
        </div>
        <div class=" col-12 col-sm-6  align-items-center" id="divPaging">
            @*<nav style="float:right" class="pagination-wrap d-inline-block" id="navigation_paging" aria-label="navigation">
                @{
                    PaginationModel pageModel = new PaginationModel();
                    pageModel.PageIndex = 1;
                    pageModel.PageSize = 999;
                    pageModel.PageCount = 999;
                    pageModel.Id = "";
                    pageModel.Class = "";
                }
                @await Component.InvokeAsync(nameof(ComponentUILibrary.ViewComponents.PaginationComponent), pageModel)



            </nav>*@
        </div>
    </div>

</div>

<!-- table hover -->