@model Admin.Collection.CollectionController.EditModel
@using Admin.Collection.Constants;
@using Steam.Core.Base.Models;
@{
    SEOModel tabSeo = new SEOModel();
    tabSeo.SlugGenerateFrom = "Title";
    tabSeo.GetCatePidFrom = "CatePid";
    tabSeo.GetPostPidFrom = "Pid";
    tabSeo.GetPostTitlteFrom = "Title";
    tabSeo.NavListButton = "nav_list_button_plugin";
    tabSeo.ModuleCode = CollectionConstants.ModuleInfo.ModuleCode;
    tabSeo.PostPid = Model.Detail.Pid;
    tabSeo.OgImage = Model.Detail.FilePath + Model.Detail.Images;

}
@*@await Component.InvokeAsync(nameof(ComponentUILibrary.ViewComponents.TabSEOComponent), tabSeo)*@

@try
{
    @Html.Partial(CollectionConstants.StaticPath.ExtenalViews.SEO.TabSEO, tabSeo);


}
catch (Exception ex)
{
    <p>Dịch vụ chưa được tích hợp</p>

}
