.heading-ux {
    position: relative;
    align-items: center;

    &:before {
        content: '';
        @extend %absolute-all;
        margin: auto;
        height: 1px;
        background: #eee;
        z-index: -1;
    }
    > * {
        background: #fff;
    }
    a {
        margin-left: auto;
        padding-left: .75rem;
    }
    #{$tt-all} {
        margin: 0;
        padding: .05rem 1rem;
        position: relative;
        z-index: 1;
        color: $primary;
        overflow: hidden;
        font-weight: 600;
        &:after {
            content: '';
            @include absolute(0,null,0,0);
            border-left: 3px solid $secondary;
        }
    }
    .content-detail & {
        &:before {
            top: auto;
        }
        #{$tt-all} {
            margin-bottom: -1px;
            padding: 1.25rem 1rem .5rem;
            background: linear-gradient(to bottom, #f8f8f8, #fff);
            &:after {
                content: '';
                @include absolute(null,0,100%,0);
                height: 3px;
                background: $primary;
                border: none;
            }
        }
    }
}
.text-link-more {
	white-space: nowrap;
	letter-spacing: -.5px;
	#{$fa-all} {
		margin-left: 5px;
		transition: all 0.3s ease;
	}
	&:hover {
		#{$fa-all} {
			margin-left: 8px;
		}
	}
}
// home slider
.home-slider {
	margin-bottom: 7px;
}
.home-banner {
	display: grid;
	grid-template-columns: 49% 49%;
	grid-gap: 2%;
	--tt: .85rem;
	&-item {
		margin-bottom: 0;
	}
	.tt {
		color: #fff;
		margin-bottom: 0;
		@include ellips(2);
	}
	.banner-overlay {
		padding: .5rem;
		top: auto;
	}
}
@include media-breakpoint-up(md) {
	.home-page .page-bg {
		@include absolute(145px,0,null,0);
		z-index: -1;
		height: 50vh;
		background: linear-gradient(to bottom, #f7ede2, #fff);
	}
	.main-slider {
		display: flex;
		padding: 0 4px;
	}
	.home-slider,
	.home-banner {
        flex: 0 0 auto;
	}
	.home-slider {
		margin: 0;
		width: 67%;
		padding-right: 0.666%;
        
        --ratio-slider: (445/880);
	}
	.home-banner {
		--tt: .9375rem;
		display: grid;
		grid-template-columns: 100%;
		grid-template-rows: 49% 49%;
		grid-gap: 2% 0;
		width: 33%;
		margin: 0;
		&-item {
			padding: 0;
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
		.banner-overlay {
			padding: 4.25%;
		}
	}
}
@include media-breakpoint-up(lg) {
	.main-slider {
		width: map-get($container-max-widths, "lg");
		margin: auto;
		padding: 0 $grid-gutter-width * 0.5;
	}
	.home-slider {
		.button {
			display: block;
			margin-top: 1rem;
		}
		.btn {
			padding: .375rem 1.75rem;
		}
		.text-slider {
			max-width: 750px;
		}
	}
	.home-banner {
		--tt: 1.125rem;
		.banner-overlay {
			padding: 1.125rem;
		}
	}
}
@include media-breakpoint-up(xl) {
	.main-slider {
		width: map-get($container-max-widths, "xl");
	}
	.home-banner {
		--tt: 1.375rem;
	}
}
@include media-breakpoint-up(xxl) {
	.main-slider {
		width: map-get($container-max-widths, "xxl");
	}
}
// 
section.container.py-45.py-lg-5 + section.container.py-45.py-lg-5 {
	margin-top: -1.5rem;
}
.badge {
    padding-bottom: .3em;
    letter-spacing: -.25px;
}
.bg-ebooks {
	background: map-get($custom-colors, "envelope");
}
.bg-audiobooks {
	background: map-get($custom-colors, "linkedin");
}
.bg-paperbooks {
	background: lighten($primary, 15%);
}
.heading-section {
	margin-bottom: 1.25rem;
	align-items: flex-end;
	.tt-wrap {
		margin-right: auto;
	}
	.badge {
		margin-bottom: 2px;
	}
	#{$tt-all} {
		margin: 0;
		font-weight: 600;
		letter-spacing: -.75px;
		text-transform: uppercase;
	}
	.text-link-more {
		font-size: 90%;
		font-weight: 600;
	}
	.form-select {
		padding-top: 5px;
		padding-bottom: 5px;
		font-size: 15px;
		letter-spacing: -.5px;
		&:after {
			width: 6px;
			height: 6px;
			border-width: 1px;
		}
	}
}
@include media-breakpoint-up(lg) {
	.heading-section {
		--tt-sm: 1.5rem;
		#{$tt-all} {
			letter-spacing: -1px;
		}
	}
	section.container.py-45.py-lg-5 + section.container.py-45.py-lg-5 {
		margin-top: -1.875rem;
	}
}
//
.bg-third {
	background-color: #f9ecdf;
}
.wrap-book {
	padding: 5%;
	margin-bottom: 1rem;
	.bg-third & {
		max-width: 280px;
		margin: auto auto 1rem;
	}
}
.abook {
	display: inline-block;
	vertical-align: top;
	position: relative;
	perspective: 300px;
	padding-right: 10%;
	transition: all 0.4s ease;

	&:after {
		content: '';
		width: 7px;
	    @include absolute(0,null,0,0);
	    background: $primary;
	    z-index: 5;
	    box-shadow: 2px 0 5px rgba(#000,.3);
	}

	&-front {
        transform: rotateY(-5deg);
        transform-origin: left center;
        z-index: 3;
        position: relative;
	}
	&-back,
	&-middle {
		background: #fff;
		@extend %absolute-all;
		border-radius: 0 6px 6px 0;
		z-index: 2;
	}
	&-middle {
		box-shadow: 2px 0 10px -2px rgba(#000,.2);
		right: 2%;
		&:before,
		&:after {
			content: '';
			@extend %absolute-all;
			box-shadow: 2px 0 10px -2px rgba(#000,.15);
			right: 1.5%;
			border-radius: 3px;
		}
		&:after {
			right: 3%;
		}
	}
	&-back {
		background: #f4f4f4;
        border: 3px solid #333;
        border-radius: 0;
        z-index: 1;
        transform: translateX(1.5%);
        box-shadow: 7px 18px 40px -8px rgba(#000,.25);
        transition: transform 0.5s ease;
	}
	&:hover {
		transform: rotateY(-5deg) rotateZ(-1deg) perspective(200px);
		.abook-back {
			transform: translateX(2.5%);
		}
	}
}
// reviewbox
.review-demo {
	text-align: center;
	.desc-multi {
		@include ellips(9);
		p, div, span {
			margin-bottom: 0;
		}
	}
    .tt-lg {
    	margin-bottom: 1.25rem;
    	&:after {
    		content: '';
    		display: block;
    		width: 30px;
    		height: 4px;
    		background: $primary;
    		margin: 7px auto;
    	}
    }
}
.col-review {
	display: none;
}
@include media-breakpoint-up(md) {
	.review-demo {
		text-align: left;
		.desc-multi {
			text-align: justify;
			padding-right: 3%;
		}
		.wrap-book {
			padding: 0 7% 0 0;
			max-width: 320px;
			margin-bottom: 0;
		}
		.tt-lg:after {
			margin-left: 0;
		}
	}
}
@include media-breakpoint-up(lg) {
	.col-review {
		display: block;
	}
	.review-demo-box {
		.bubble-cmts {
			margin: 1.25rem 0;
			max-height: 255px;
			overflow-y: auto;
			margin-right: -17x;
			padding-right: 17px;
		}
	}
	.comments-box {
		background: #fff;
		border-radius: 10px;
		font-size: 15px;
		padding: .75rem;
        margin: 1rem 0 .5rem;
        .text-clip {
        	@include ellips(12);
        }
	}
}
