@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<style>
    .sidebar-link-custom {
        display: block;
        padding: 0.7rem 1rem;
        font-size: 1rem;
        display: flex;
        align-items: center;
        border-radius: 0.5rem;
        transition: all .5s;
        text-decoration: none;
        color: #25396f;
    }

    .sidebar-item-child {
        background-color: transparent !important;
        color: #25396f !important;
        border-bottom: 3px #25396f solid;
    }

        .sidebar-item-child > span {
            color: #25396f !important;
        }
</style>
<ul class="menu">

    <li class="sidebar-item">
        <a href="@Steam.Core.Base.Constant.SystemInfo.VirtualFolder/" menu="" class='sidebar-link'>
            <i class="bi bi-grid-fill"></i>
            <span>Dashboard</span>
        </a>
    </li>
    <li class="sidebar-item ">
        <a href="~/filemanager/dialog.php" target="_blank" class='sidebar-link'>
            <i class="bi bi-collection-play"></i>
            <span>Quản lý Media</span>
        </a>
    </li>
    @*<li class="sidebar-item ">
            <a  menu="Biography" href="/Biography/Index" class='sidebar-link'>
                <i class="bi bi-file-earmark-person"></i>
                <span>Biography Page</span>
            </a>
        </li>*@
    <li class="sidebar-item  has-sub">
        <a href="#Page" menu="Page" class='sidebar-link'>
            <i class="bi bi-layout-text-window"></i>
            <span>Layout</span>
        </a>
        <ul class="submenu ">
            <!--<li hidden class="submenu-item sidebar-item has-sub">-->
            @*<a menu="Menu" href="/Menu/Index">Menu</a>*@
            <!--<a href="#Header" menu="Header" class='sidebar-link sidebar-item-child'>
                    <span>Header</span>
                </a>
                <ul class="submenu ">

                    <li class="submenu-item ">
                        <a menu="HeaderPage" href="~/HeaderPage/Index">Header</a>
                    </li>
                    <li class="submenu-item ">
                        <a menu="MenuStyle" href="~/MenuStyle/Index">Menu Style</a>
                    </li>
                    <li class="submenu-item ">
                        <a menu="Menu" href="/Menu/Index">Menu</a>
                    </li>
                </ul>
            </li>-->
            <li class="submenu-item ">
                <a menu="HeaderPage" href="~/HeaderPage/Index">Header</a>
            </li>
            <li class="submenu-item ">
                <a menu="Menu" href="~/Menu/Index">Menu</a>
            </li>
            <li class="submenu-item ">
                <a menu="Slider" href="~/Slider/Index">Slider</a>
            </li>
            <li class="submenu-item ">
                <a menu="HomePage" href="~/HomePage/Index">Trang chủ</a>
            </li>
            <li class="submenu-item ">
                <a menu="FooterPage" href="~/FooterPage/Index">Footer</a>
            </li>
            <li class="submenu-item ">
                <a menu="QuickToolsBar" href="~/QuickToolBar/Index">Quick Tools Bar</a>
            </li>
            <li class="submenu-item ">
                <a menu="WebsiteKeys" href="~/WebsiteKeys/Index">Quản lý thông tin</a>
            </li>
        </ul>
    </li>
    <li class="sidebar-item  has-sub">
        <a href="#Post" menu="Post" class='sidebar-link'>
            <i class="bi bi-newspaper"></i>
            <span>Bài viết</span>
        </a>
        <ul class="submenu ">
            @*<li class="submenu-item ">
                    <a menu="SEO" href="/SEO/Index">SEO</a>
                </li>*@
            <li class="submenu-item ">
                <a menu="PostsCategory" href="~/PostsCategory/Index">Danh mục</a>
            </li>
            <li class="submenu-item ">
                <a menu="PostsManagement" href="~/PostsManagement/Index/Post">Bài viết</a>
            </li>   
            <li class="submenu-item ">
                <a menu="PostsManagement" href="~/PostsManagement/Index/Policy">Chính sách</a>
            </li>

        </ul>
    </li>
    @*<li class="sidebar-item  has-sub">
            <a href="#course" class='sidebar-link'>
                <i class="bi bi-book"></i>
                <span>Khóa học</span>
            </a>
            <ul class="submenu ">
                <li class="submenu-item ">
                    <a href="/Category/Index">Danh mục</a>
                </li>
                <li class="submenu-item ">
                    <a href="/Course/Index">Khóa học</a>
                </li>
                <li class="submenu-item ">
                    <a href="/Lecture/Index">Bài học</a>
                </li>
                <li class="submenu-item ">
                    <a href="/Member/Index">Thành viên</a>
                </li>
            </ul>
        </li>*@

    <li class="sidebar-item  has-sub">
        <a href="#product-misa" menu="ProductMisa" class='sidebar-link'>
            <i class="bi bi-bag-check"></i>
            <span>Sản phẩm MISA</span>
        </a>
        <ul class="submenu ">
            <li class="submenu-item ">
                <a menu="MisaApiTracker" href="~/MisaApiTracker/Index">Cấu hình kết nối API</a>
            </li>
            <li class="submenu-item ">
                <a menu="ProductSpecificaty" href="~/ProductSpecificaty/Index/Colors">Bảng màu</a>
            </li>
            <li class="submenu-item ">
                <a menu="ProductSpecificaty" href="~/ProductSpecificaty/Index/Size">Bảng Size</a>
            </li>
            <li class="submenu-item ">
                <a menu="MisaProductCategory" href="~/MisaProductCategory/Index">Danh mục</a>
            </li>
            <li class="submenu-item ">
                <a menu="MisaProduct" href="~/MisaProduct/Index">Sản phẩm</a>
            </li>
            <li class="submenu-item ">
                <a menu="ProductPolicy" href="~/ProductPolicy/Index">Chính sách & Điều Khoản</a>
            </li>
            @*<li class="submenu-item">
                    <a menu="" href="#">Khách hàng đăng ký</a>
                </li>*@
        </ul>
    </li>
    <li class="sidebar-item ">
        <a menu="Collection" href="~/Collection/Index" class='sidebar-link'>
            <i class="bi bi-bookmark-heart"></i>            <span>Bộ sưu tập</span>
        </a>
    </li>
    <li class="sidebar-item has-sub">
        <a menu="MemberManagement" href="#MemberManagement" class='sidebar-link'>
            <i class="bi bi-people"></i>
            <span>Quản lý khách hàng</span>
        </a>
        <ul class="submenu ">
            <li class="submenu-item ">
                <a menu="MemberManagement" href="~/MemberManagement/Index" >Danh sách</a>
            </li>
            <li class="submenu-item ">
                <a menu="FeedBack" href="~/FeedBack/Index">Đánh giá</a>
            </li>

        </ul>
    </li>
    <li class="sidebar-title">Cấu hình hệ thống</li>
    <li class="sidebar-item has-sub">
        <a menu="WebSetting" href="#WebSetting" class='sidebar-link'>
            <i class="bi bi-gear"></i>
            <span>Cấu hình Website</span>
        </a>
        <ul class="submenu ">
            <li class="submenu-item ">
                <a  menu="WebSetting" href="~/WebSetting/Index">Cài đặt chung</a>
            </li>
            <li class="submenu-item ">
                <a menu="TemplatePage" href="~/TemplatePage/Index">Cấu hình Page</a>
            </li>
   
        </ul>
    </li>
    <li class="sidebar-item  has-sub">
        <a  href="#EmailManagement" class='sidebar-link'>
            <i class="bi bi-envelope"></i>
            <span>Cấu hình Email</span>
        </a>
        <ul class="submenu ">
            <li class="submenu-item ">
                <a menu="EmailAdmin" href="~/EmailAdmin/Index">Thông tin Email</a>
            </li>
            <li class="submenu-item ">
                <a menu="EmailTemplate" href="~/EmailTemplate/Index">Email Template</a>
            </li>  
            <li class="submenu-item ">
                <a menu="EmailInbox" href="~/EmailTemplate/Index">Hòm thư</a>
            </li>
        </ul>
    </li>
    <li class="sidebar-item  has-sub">
        <a href="#security" class='sidebar-link'>
            <i class="bi bi-shield-check"></i>
            <span>Bảo mật</span>
        </a>
        <ul class="submenu ">

            <li class="submenu-item ">
                <a menu="Account" href="~/Account/Index">Quản lý tài khoản</a>
            </li>

            <li class="submenu-item ">
                <a menu="GroupRole" href="~/GroupRole/Index">Quản lý phân quyền</a>
            </li>
            <li class="submenu-item ">
                <a menu="ModuleRole" href="~/ModuleRole/Index">Danh mục hệ thống</a>
            </li>
            <li class="submenu-item ">
                <a menu="LogManagement" href="~/LogManagement/Index">Log hệ thống</a>
            </li>
        </ul>
    </li>
</ul>