
@{
    ViewData["Title"] = "Maintenance";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container py-5 w-md-75 container-404">
    <div class="block404">
        <div class="row align-items-center mb-45 g-3">
            <div class="col-12">
                <div class="thumb-res wide-sm">
                    <img src="/css/skin/underconstruction.png" />
                </div>
            </div>
            <div class="col-12">
                <h3 class="heading text-center mb-2 text-secondary heading-under">
                    COMING SOON
                </h3>
                <h2 class="heading text-center mb-2 heading-under-2">
                    <span class="fw-light">WE'RE UNDER</span><br /><span class="fw-bold">CONSTRUCTION</span>
                </h2>
            </div>
        </div>
    </div>
</div>