@model Admin.TemplatePage.Controllers.EditModel

@using Admin.TemplatePage.Constants;
@using ComponentUILibrary.Models
<div class="mt-2">


    <div class="form-group">
        <label for="">Thumbnail</label>

        @{
            FileUploadControlModel fileUploadModel = new FileUploadControlModel();
            fileUploadModel.Id = "Images";
            fileUploadModel.Class = "";
            fileUploadModel.FirstLoadLib = true;
            fileUploadModel.Images_Alt = Model.Detail.Image_Alt;
            fileUploadModel.Images_Description = Model.Detail.Image_Description;
            fileUploadModel.Images_Caption = Model.Detail.Image_Caption;
            fileUploadModel.SelectedFiles = Steam.Core.Base.Constant.SystemInfo.VirtualFolder + (Model.Detail.FilePath + Model.Detail.Image);// fileUploadModel.GenerateFileJson(listFile);

        }
        @await Component.InvokeAsync(nameof(ComponentUILibrary.ViewComponents.FileUploadFilePondComponent), fileUploadModel)
    </div>




</div>