<div id="editor"></div>
<script type="text/javascript">window.onEditorLoaded = function () {
    tinymce.init({ selector: "#editor", Flmngr: { urlFileManager: "https://localhost:60237/fileManager", urlFiles: "https://localhost:60237/files/"} });
    }</script>
<script type="text/javascript" src="https://cloud.n1ed.com/cdn/V240DFLT/n1tinymce.js"></script>