<footer class="content-footer footer bg-footer-theme">
    <div class="container-xxl d-flex flex-wrap justify-content-between py-2 flex-md-row flex-column">
        <div class="mb-2 mb-md-0">
            ©
            <span>
                1.0.0

            </span>
            , made with ❤️ by <a href="#" target="_blank" class="footer-link fw-medium">@Steam.Core.Base.Constant.SourceInfo.TeamName</a>
        </div>
        <div class="d-none d-lg-inline-block">

            <a href="#License" class="footer-link me-4" target="_blank">License</a>
            <a href="#moreTheme" target="_blank" class="footer-link me-4">Mẫu giao diện</a>

            <a href="#document" target="_blank" class="footer-link me-4">Tài liệu</a>


            <a href="#Support" target="_blank" class="footer-link d-none d-sm-inline-block">Support</a>

        </div>
    </div>
</footer>