@{ 
    string VirtualFolder = Steam.Core.Base.Constant.SystemInfo.VirtualFolder;

}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex, nofollow">

    <title>Login - CMS</title>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/assets/css/bootstrap.css">
    <link rel="stylesheet" href="~/assets/vendor/libs/bootstrap-icons/bootstrap-icons.css">
    <link rel="stylesheet" href="~/assets/css/app.css">
    <link rel="stylesheet" href="~/assets/css/pages/auth.css">
    <link rel="stylesheet" href="~/assets/vendor/libs/toastify/toastify.css">
    <script>
                const SteamSystem = {
            VirtualFolder:"@VirtualFolder"
           }
    </script>
</head>
<body>
    @RenderBody()

    <script src="@VirtualFolder/assets/vendor/libs/jquery/jquery.js"></script>
    <script src="@VirtualFolder/Scripts/mainpage/CommonCommand.js"></script>
    <script src="@VirtualFolder/assets/vendors/toastify/toastify.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>