<style>
    .close-btn {
        position: absolute;
        top: 5px;
        right: 5px;
        background: none;
        border: none;
        cursor: pointer;
        font-size: 20px;
        color: #000; /* Change the color as needed */
    }
</style>
@model List<Admin.DashBoard.Database.Dashboard_Shortcut>

@* @foreach (var item in Model)
{
    <div id="shortcut_@item.Pid" class="dropdown-shortcuts-item col">
        <button style="z-index: 1000" class="close-btn" style="cursor:pointer" onclick="_actionShortcut.EditModal(@item.Pid)">
            <span aria-hidden="true"><i class='bx bxs-cog'></i></span>
        </button>
        <span class="dropdown-shortcuts-icon bg-label-secondary rounded-circle mb-2">
            @Html.Raw(item.IconSvg)
        </span>
        <a href="@Html.Raw(item.Link)" target="_blank" class="stretched-link">@Html.Raw(item.Name)</a>
    </div>
} *@