extends layout/email-template
block vars
	- title = "Email Admin"
	- heading = 'Yêu cầu hướng dẫn về dịch vụ Email'
	- header = true
block email-main
	.e-body.rounded.bg-white
		.tt Hướng dẫn cài đặt và sử dụng Email
		p Tôi cần hướng dẫn cài đặt và cách sử dụng chi tiết về dịch vụ xyz của bạn. Tôi cần có những yêu cầu gì để đáp ứng cho việc này.
		ul
			li Yêu cầu phần mềm, phần cứng?
			li Internet network or local network?
			li Thời gian cài đặt bao lâu?
			li Có những vấn đề thường gặp phải
	