
<div class="form-group">
    <input required type="text" class="form-control raw" name="Name" id="Name" aria-describedby="text" placeholder="")">
</div>
<div class="form-group">
    <textarea type="text" class="form-control raw" name="Description" id="Description" aria-describedby="text" placeholder="Mô tả"></textarea>
</div>
@*<div class="form-group">
    <select id="ParentId" onchange="SaveRawData()" class="form-control select2 form-control-sm border mr-5 mb-5">
    </select>
</div>*@

