<section class="banner-lg block-bg" style="background-image: url('{{banner}}');">
    <div class="container h-100 d-flex align-items-center">
        <div class="text-banner">
            <div class="letter-spacing-1 text-uppercase">sàn giao dịch bất động sản phú quốc</div>
            <h1 class="tt-sm">{{currentPage}}</h1>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{urlHome}}">{{home}}</a></li>
                <li class="breadcrumb-item active">{{currentPage}}</li>
            </ol>
        </div>
    </div>
</section>