@model dynamic;

@using ComponentUILibrary.Models
@using Admin.PostsCategory;
@using Admin.PostsCategory.Services;
@inject Admin.PostsCategory.Database.PostsCategoryContext _context;
@inject IPostsCategoryService rep;

@{
    var listCate = rep.GetChildrenPostCategory(Model.ParentId);
}


<div class="form-group">
    <label for="title">Danh mục phụ</label>
    @{

        TreeSelectModel treeSelectModel = new TreeSelectModel();
        treeSelectModel.ID = Model.Id;
        treeSelectModel.Class = Model.Class;
        treeSelectModel.SelectedValue = Model.SelectedValue;
        treeSelectModel.FirstLoadLib = true;
        treeSelectModel.MapToObj(listCate, "Pid", "Title", "ParentID", "Order", "Enabled", Model.ParentId);
    }
    @await Component.InvokeAsync(nameof(ComponentUILibrary.ViewComponents.TreeSelectComponent), new { model = treeSelectModel })
</div>
