@using CMS.Services.TranslateServices;
@inject ITranslateServices _translate

    <div class="row">
        <!-- Tiêu đề -->
        <div class="col-12">
            <div class="form-group mb-3">
                <label class="tt-label" for="Title">Tiêu đề</label>
                <input type="text" placeholder="Nhập tiêu đề" id="Title" name="Title" class="form-control raw">
            </div>
        </div>

        @*<div class="form-group">
                <label for="inputDate">Date</label>
                <input type="text" name="daterange" id="inputDate" class="form-control">
            </div>
            <div class="form-group">
                <label for="inputTime">Time</label>
                <input type="text" id="inputTime" class="form-control input-timepicker">
            </div>*@
        @*<div class="form-group custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="all_day">
                <label class="custom-control-label" for="all_day">All day event</label>
            </div>*@
        @*<div class="form-group">
                <label for="inputTime">Set Priority</label>
                <select class="form-control custom-select">
                    <option selected="">Important</option>
                    <option>Normal</option>
                    <option>Important</option>
                </select>
            </div>*@

        @*<div class="form-group">
            <button id="add_event" class="btn btn-primary btn-block mr-10" type="submit">Add</button>
        </div>*@
    </div>