@model Admin.ProductManagement.Controllers.ProductCategoryController.EditModel

@using Admin.ProductManagement.Constants;
@using ComponentUILibrary.Models
<div class="mt-2">


    <div class="form-group">
        <label for="">Thumbnail</label>

        @{

            var imageThumbnailURl = "";
            if (Model.ProductCategoryModel.Detail != null)
            {
                imageThumbnailURl = Steam.Core.Base.Constant.SystemInfo.VirtualFolder + Model.ProductCategoryModel.Detail.FilePath + Model.ProductCategoryModel.Detail.Images;
            }

            FileUploadControlModel fileUploadModel = new FileUploadControlModel();
            fileUploadModel.Id = "Thumbnail";
            fileUploadModel.Class = "";
            fileUploadModel.FirstLoadLib = true;
            fileUploadModel.SelectedFiles = imageThumbnailURl;
            fileUploadModel.Images_Alt = Model.ProductCategoryModel.Detail.Images_Alt;

        }
        @await Component.InvokeAsync(nameof(ComponentUILibrary.ViewComponents.FileUploadFilePondComponent), fileUploadModel)
    </div>


    <div class="form-group">
        <label for="">Banner</label>

        @{

            var imageURl = "";
            if (Model.ProductCategoryModel.Detail != null)
            {
                imageURl = Steam.Core.Base.Constant.SystemInfo.VirtualFolder + Model.ProductCategoryModel.Detail.BannerFilePath + Model.ProductCategoryModel.Detail.Banner;
            }

            FileUploadControlModel fileUploadModel2 = new FileUploadControlModel();
            fileUploadModel2.Id = "Banner";
            fileUploadModel2.Class = "";
            fileUploadModel2.SelectedFiles = imageURl;
            fileUploadModel2.Images_Alt = Model.ProductCategoryModel.Detail.Banner_Alt;

        }
        @await Component.InvokeAsync(nameof(ComponentUILibrary.ViewComponents.FileUploadFilePondComponent), fileUploadModel2)
    </div>


</div>