<div class="hk-footer-wrap container-fluid px-lg-4">
    <footer class="footer">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <p> © Rainbow E-Commerce,ltd. Powered by<a href="//bizmac.com.vn" class="text-primary" title="BizMaC, Thiết kế website chuyên nghiệp" alt="BizMaC, Thiết kế website chuyên nghiệp" target="_blank">BizMaC</a></p>
            </div>
        </div>
    </footer>
</div>