<div class="hk-footer-wrap container-fluid px-lg-4">
    <footer class="footer">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <p> © 2019. Powered by<a href="//bizmac.com.vn" class="text-dark" target="_blank">BizMaC</a></p>
            </div>
        </div>
    </footer>
</div>