@model Admin.HeaderPage.HeaderEditModel

@using Admin.HeaderPage.Constants;
@using ComponentUILibrary.Models

<div class="card-content p-lg-2 pr-2">
    <form id="uploadForm" class="mt-2">

        <div class="mt-2">
            <input hidden id="Pid" class="pid" name="Pid" value="@Model.Detail.Pid">
            <div class="form-group">
                <label for="title">Tiêu đề</label>
                <input required type="text" class="form-control" id="title" value="@Model.Detail.Title" name="title" aria-describedby="title" placeholder="nhập tiêu đề...">
            </div>



            @*<div class="form-group">
                <label for="Content">Header block</label>
                @{

                    EditorModel editorModel = new EditorModel();
                    editorModel.Id = "HeaderBlock";
                    editorModel.Cols = "30";
                    editorModel.Rows = "10";
                    editorModel.Content = Model.Detail.HeaderBlock;
                }
                @await Component.InvokeAsync(nameof(ComponentUILibrary.ViewComponents.EditorTinymceComponent), editorModel)
            </div>*@
            <div class="form-group">
                <label for="Content">Header block</label>

                <textarea rows="40" id="HeaderBlock" name="HeaderBlock" class="form-control">@Model.Detail.HeaderBlock</textarea>

            </div>
        </div>
    </form>
    <div class="modal-footer">
        @*<a type="button" href="@HeaderPageConstants.Config.Route.PageIndex" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</a>
            <button type="button" onclick="_action.Save('uploadForm')" class="btn btn-primary">Lưu</button>*@
    </div>
</div>