@using ComponentUILibrary.Models

<div class="card">
    <div class="card-header">
        <div class="form-group row mb-1 ">
            @{
                DatePickerModel datePickerModel = new DatePickerModel();
                datePickerModel.Id = "IndayDate";
                datePickerModel.ClassContainner = "col-lg-4";
                datePickerModel.Placeholder = "Chọn ngày";
                datePickerModel.FirstLoadLIb = true;
                datePickerModel.Value = DateTime.Now.ToString("dd/M/yyyy");
            }
            @await Component.InvokeAsync(nameof(ComponentUILibrary.ViewComponents.DatePickerComponent), datePickerModel)
            <button onclick="GetTrafficReportInday()" type="button" class="btn btn-icon btn-primary">
                <span class="tf-icons bx bx-search-alt"></span>
            </button>
        </div>
        <h4>Thống kê truy cập trong ngày</h4>
    </div>
    <div class="card-body">
        <div id="lineChart_Today"></div>
    </div>
</div>