@using ComponentUILibrary.Models

<div class="card">
    <div class="card-header">
        <div class="form-group row">
            @{
                FromDateToDateModel fromDateToDateModel = new FromDateToDateModel();
                fromDateToDateModel.Id = "RangeDate";
                fromDateToDateModel.FromDate_Id = "FromDate";
                fromDateToDateModel.ToDate_Id = "ToDate";
                fromDateToDateModel.ClassContainner = "col-lg-6 col-sm-12 mb-1";
                fromDateToDateModel.Placeholder = "Chọn ngày";
                fromDateToDateModel.FirstLoadLIb = true;
                fromDateToDateModel.ValidRangeDay = 1;
                fromDateToDateModel.ToDate = DateTime.Now.ToString("dd/M/yyyy");
                fromDateToDateModel.FromDate = DateTime.Now.AddDays(-7).ToString("dd/M/yyyy");
            }
            @await Component.InvokeAsync(nameof(ComponentUILibrary.ViewComponents.FromDateToDateComponent), fromDateToDateModel)
            <button onclick="GetTrafficReportByDay()" type="button" class="btn btn-icon btn-primary">
                <span class="tf-icons bx bx-search-alt"></span>
            </button>
        </div>
        <h4>Thống kê truy cập theo ngày</h4>
    </div>
    <div class="card-body">
        <div id="lineChart_byday"></div>
    </div>
</div>