 <!-- header -->
 <header class="header">
    <div class="container-fluid">
        <!-- heading -->
        <div class="header-container">
            <p class="text-sm font-semibold">MIỄN PHÍ VẬN CHUYỂN CHO MỌI ĐƠN HÀNG</p>
        </div>
        <!-- navbar -->
        <nav class="navbar .shadow.shadow-btn">
            <div class="container-fluid">
                <div class="navbar-container">
                    <!-- logo -->
                    <a href="./home.html" class="nav-logo">
                        <img src="./assets/img/logo/Logo Web-01.svg" alt="Nike Logo">
                    </a>

<ul class="nav-menu">
             <li class="nav-item">
                                <div class="nav-items">
                                    <a href="#">Nam</a>

                                </div>
                                <div class="sub-details">
         <div class="sub-menu">
                                               <div class="drop-down">
                       <p>
                         <span>Quần</span>
                               <hr>
                         </p>
                         
                  </div>             <div class="drop-down">
                       <p>
                         <span>Áo</span>
                               <hr>
                         </p>
                         
                  </div>
                                </div>
                                </div>

                            </li>             <li class="nav-item">
                                <div class="nav-items">
                                    <a href="#">Nữ</a>

                                </div>
                                <div class="sub-details">
         <div class="sub-menu">
                                               <div class="drop-down">
                       <p>
                         <span>Sản phẩm nổi bật</span>
                               <hr>
                         </p>
                         
                  </div>             <div class="drop-down">
                       <p>
                         <span>Áo</span>
                               <hr>
                         </p>
                                              <ul>
                                                <li>
                                                    <a href="{MENU_URL}}">
                                                       Áo polo
                                                    </a>
                                                </li>
                                            </ul>
                  </div>             <div class="drop-down">
                       <p>
                         <span>Quần</span>
                               <hr>
                         </p>
                         
                  </div>
                                </div>
                                </div>

                            </li>
</ul>

                    <div class="nav-icons ">
                        <!-- icon hidden -->
                        <i class=" search-icon fas fa-search" id="menu-search"></i>
                        <div class="nav-search">

                            <form action="/search" method="GET">
                                <button type="submit">
                                    <i class="search-icon fas fa-search"></i>
                                </button>
                                <input type="text" id="product-search" name="q" placeholder="Tìm kiếm ">

                            </form>

                        </div>
                        <a href="">
                            <i class=" icon fa-regular fa-user"></i>
                        </a>
                        <a href="">
                            <i class="icon fa-regular fa-heart"></i>
                        </a>
                        <a href="">
                            <i class=" icon fa-solid fa-cart-shopping"></i>
                        </a>
                        <!-- Menu button -->
                        <div class="navbar-menu-btn">
                            <button class="bars">
                                <i class=" icon fa-solid fa-bars"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <!-- search-contain -->
                <div class="wrap-hidden" style="left: 0;">
                    <div class="search-container">
                        <div class="btn-cancel">
                            <i class="fa-solid fa-xmark"></i>
                        </div>
                        <div class="pre-search-container">
                            <form action="/search" method="GET">
                                <input type="text" id="product-search" name="q" placeholder="Tìm kiếm sản phẩm...">
                                <button type="submit">
                                    <i class="search-icon fas fa-search"></i>
                                </button>
                            </form>
                        </div>
                        <div class="keywords-search">
                            <h3>TỪ KHÓA NỔI BẬT</h3>
                            <ul>
                                <li>
                                    <a href="">Air Force 1</a>
                                </li>
                                <li>
                                    <a href="">Air Force 1</a>
                                </li>
                                <li>
                                    <a href="">Air Force 1</a>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>


                <!-- Dashboard -->
                <div class="dashboard">
                    <div class="dashboard-icon">
                        <i class="fa-regular fa-circle-xmark"></i>
                    </div>
                    <div class="dashboard-heading">
                        <a href="#">Nam</a>
                        <i class="fa-solid fa-angle-right "></i>
                    </div>

                    <div class="dashboard-heading">
                        <a href="#">Nữ</a>
                        <i class="fa-solid fa-angle-right "></i>
                    </div>

                    <div class="dashboard-heading">
                        <a href="#">Sale</a>
                        <i class="fa-solid fa-angle-right "></i>
                    </div>

                    <div class="dashboard-heading">
                        <a href="#">COLLECTION</a>
                        <i class="fa-solid fa-angle-right "></i>
                    </div>

                    <div class="dashboard-heading">
                        <a href="#">Tin tức</a>
                        <i class="fa-solid fa-angle-right "></i>
                    </div>
                </div>

            </div>
        </nav>
    </div>
</header>
