@model Admin.PostsManagement.Controllers.PostsManagementController.EditModel
@using Admin.PostsManagement.Constants;
@using ComponentUILibrary.Models
@using System.Text.Json;

@using Steam.Core.Base.Models;
@inject Admin.PostsCategory.Database.PostsCategoryContext _context;

@{
    var listCate = _context.PostsCategories.Where(p => p.Enabled == true && p.ParentID == 0).Select(
                     row => new SelectControlData
                     {
                         Value = row.Pid.ToString(),
                         Name = row.Title,
                         ParrentID = row.ParentID,
                     }
                    ).ToList<SelectControlData>();

}
<div class="row">


    <div class="form-group col-md-2   col-sm-12">
        <style>
            .PostsCategory-nice-select {
                margin-left: 13px
            }
        </style>
        <label for="title">Danh mục</label>
        @{
            NiceSelectModel selectModel2 = new NiceSelectModel();
            selectModel2.Data = listCate;
            selectModel2.Id = "CateID";
            selectModel2.Size = "small";
            selectModel2.DefaultValue = "-1";
            selectModel2.Class = "nice-select postsCategory-nice-select";
            selectModel2.SelectedValue = Model.Detail.CateID.ToString();
        }
        @await Component.InvokeAsync(nameof(ComponentUILibrary.ViewComponents.NiceSelectComponent), new { model = selectModel2 })
    </div>

    <div class="form-group  col-md-10">
        <label for="title">Danh mục phụ</label>

        @{

            TreeSelectModel treeSelectModel = new TreeSelectModel();
            treeSelectModel.ID = "SubCate";
            treeSelectModel.Class = "";
            treeSelectModel.SelectedValue = Model.Detail.SubCate ?? "";
            treeSelectModel.FirstLoadLib = true;
            treeSelectModel.MapToObj(Model.ListSubCate, "Value", "Name", "ParrentID", "Order", "Enabled", Model.Detail.CateID.ToString());
        }
        @await Component.InvokeAsync(nameof(ComponentUILibrary.ViewComponents.TreeSelectComponent), new { model = treeSelectModel })
    </div>
</div>
<script>
    $('#nice_select_@selectModel2.Id').on('change', function () {
        _action.GetSubCate($('#nice_select_@selectModel2.Id').val());
    });
</script>
