
@{
    ViewData["Title"] = "Index";
    ViewData["PageTitle"] = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string VirtualFolder = Steam.Core.Base.Constant.SystemInfo.VirtualFolder;

}
@model MasterAdmin.DashBoard.DashBoardController.PageModel
@*<div class="page-heading">
        <h3>Profile Statistics</h3>
    </div>*@

<div class="page-content">
    <section class="row">

        <div class="col-12 col-lg-9">
            @await Html.PartialAsync("/Views/DashBoard/Partial/_PartialStatistics.cshtml", Model.StatisticsInfo)

            <div class="row">
                <div class="col-md-12 col-xl-12 col-sm-12">
                    @await Html.PartialAsync("/Views/DashBoard/Partial/_PartialHotProducts.cshtml", Model.ListProductHots)

                </div>

            </div>
            <div class="row mt-2">
                <div class="col-12 mb-2">
                    @await Html.PartialAsync("/Views/DashBoard/Partial/_PartialLineChartInday.cshtml")

                </div>
            </div>
            <div class="row mb-2">
                <div class="col-12">
                    @await Html.PartialAsync("/Views/DashBoard/Partial/_PartialLineChartByday.cshtml")


                </div>
            </div>

        </div>
        <style>
            .remind-work-title {
                /*                color: deepskyblue;
            */ font-weight: bold;
            }

            .remind-work-date {
                color: deepskyblue;
                font-weight: bold;
            }
        </style>
        <div class="col-12 col-lg-3">
            @await Html.PartialAsync("/Views/DashBoard/Partial/_PartialLogSystem.cshtml", Model.ListLogs)


        </div>

    </section>
</div>
@section DashboardScripts {
    <script src="@VirtualFolder/assets/vendor/libs/apex-charts/apexcharts.js"></script>

    @*<script src="@VirtualFolder/assets/js/pages/dashboard.js"></script>*@
}
<script>
    var lineChart_Today = {}
    var lineChart_byday = {}
    $(function () {
        var lineChart_TodayOptions = {
            chart: {
                height: '200',
                type: "line",
            },
            series: [
                {
                    name: "Lượng truy cập",
                    //data: [30, 40, 35, 50, 49, 60, 70, 91, 125,
                    //    30, 40, 35, 50, 49, 60, 70, 91, 125,
                    //    30, 40, 35, 50, 49
                    //],
                    data:@Html.Raw(Model.ReportTrafficInDay.Value)
                },
            ],
            xaxis: {
                //categories: ['1:00', '2:00', '3:00', '4:00', '5:00', '6:00', '7:00', '8:00', '9:00',
                //    '10:00', '11:00', '12:00', '13:00', '14:00', '15:00', '16:00', '17:00', '18:00',
                //    '19:00', '20:00', '21:00', '22:00', '23:00', '00:00'
               // ],
                categories:@Html.Raw(Model.ReportTrafficInDay.Name)
            },
        };
         lineChart_Today = new ApexCharts(document.querySelector("#lineChart_Today"), lineChart_TodayOptions);
        lineChart_Today.render();

        var lineChart_bydayOptions = {
            chart: {
                height: '200',
                type: "line",
            },
            series: [
                {
                    name: "Lượng truy cập",
                    //data: [30, 40, 35, 50, 49, 60, 70, 91, 125,
                    //    30, 40, 35, 50, 49, 60, 70, 91, 125,
                    //    30, 40, 35, 50, 49, 30, 40, 35, 50, 49, 50, 49
                    //],
                    data:@Html.Raw(Model.ReportTrafficByDay.Value)
                },
            ],
            xaxis: {
                //categories: ['01/11/2023', '02/11/2023', '03/11/2023', '04/11/2023', '05/11/2023', '05/11/2023', '05/11/2023', '05/11/2023', '05/11/2023',
                //    '05/11/2023', '05/11/2023', '05/11/2023', '05/11/2023', '05/11/2023', '05/11/2023', '05/11/2023', '05/11/2023', '05/11/2023',
                //    '05/11/2023', '05/11/2023', '05/11/2023', '05/11/2023', '05/11/2023', '01/11/2023', '01/11/2023', '02/11/2023', '03/11/2023', '04/11/2023', '01/11/2023', '6:00', '7:00'
                //],
                categories: @Html.Raw(Model.ReportTrafficByDay.Name)
            },
        };
         lineChart_byday = new ApexCharts(document.querySelector("#lineChart_byday"), lineChart_bydayOptions);
        lineChart_byday.render();
    });
    function GetTrafficReportInday() {
        var date = $("#IndayDate").val();
        $.ajax({
            type: "GET",
            url: "/DashBoard/GetTrafficReport",
            data: {
                fromDate: date,
                type:"inday",
            },
            success: function (response) {
                debugger;
                console.log(response);
                var newData = {
                    series: [{
                        name: 'Lượt truy cập',
                        data: JSON.parse(response.value)
                    }],
                    xaxis: {
                        categories: JSON.parse(response.name)
                    }
                };

                lineChart_Today.updateOptions({
                    series: newData.series,
                    xaxis: newData.xaxis
                });
            },
            failure: function (response) {
            }
        });


    }
    function GetTrafficReportByDay() {
        var fromDate = $("#FromDate").val();
        var toDate = $("#ToDate").val();
        $.ajax({
            type: "GET",
            url: "/DashBoard/GetTrafficReport",
            data: {
                fromDate: fromDate,
                toDate: toDate,
                type: "byday",
            },
            success: function (response) {
                debugger;
                console.log(response);
                var newData = {
                    series: [{
                        name: 'Lượt truy cập',
                        data: JSON.parse(response.value)
                    }],
                    xaxis: {
                        categories: JSON.parse(response.name)
                    }
                };

                lineChart_byday.updateOptions({
                    series: newData.series,
                    xaxis: newData.xaxis
                });
            },
            failure: function (response) {
            }
        });
    }

</script>